.bottom-container {
    background-image: url('/assets/Component\ 7\ –\ 1.png');
    height: 76vh;
    margin: 0;
    padding: 0;
}

.headline {
    font-size: 3.375rem;
    margin-bottom: 0;
    padding-top: 13rem;
    margin-left: 20rem;
}

.info {
    font-size: 4.625rem;
    margin-top: 3rem;
    margin-left: 20rem;
}

.dots {
    margin-left: 20rem;
}

.arrow {
    width: 2.75rem;
    margin-left: 7rem;
}