@font-face {
    font-family: GraphikLight;
    src: url(assets/fonts/GraphikLight.otf) format('opentype');
}

@font-face {
    font-family: GothamBook;
    src: url(assets/fonts/GothamBook.ttf) format('truetype');
}

@font-face {
    font-family: GothamMedium;
    src: url(assets/fonts/GothamMedium.ttf) format('truetype');
}

@font-face {
    font-family: GothamLight;
    src: url(assets/fonts/GothamLight.ttf) format('truetype');
}

@font-face {
    font-family: typoround;
    src: url(assets/fonts/Typo_Round_Light_Demo.otf) format('opentype');
}