<div class="home-container">
    <div class="top-nav">
        <img class="logo" src="/assets/Group 3.svg">
        <ul>
            <li>Home <img style="width: 0.675rem; height: 0.675rem;" src="/assets/down.svg"></li>
            <li>About <img style="width: 0.675rem; height: 0.675rem;" src="/assets/down.svg"></li>
            <li>Services <img style="width: 0.675rem; height: 0.675rem;" src="/assets/down.svg"></li>
            <li>Work</li>
            <li>Contact</li>
            <li>|</li>
            <li><img src="assets/searchIcon.svg"></li>
        </ul>
    </div>
    <div class="carousel">
        <p>We make<br> Digital Experience<br> that Customers Love</p>
        <button class="styled-button">Know More</button>
    </div>
    <div style="display: flex; justify-content: space-between; margin-right: 6.75rem;">
        <app-social-buttons></app-social-buttons>
        <div class="button-group">
            <img src="/assets/Group 927.svg">
            <img class="line" src="/assets/Line 3.svg">
            <img src="/assets/Group 926.svg">
        </div>
    </div>
    <div class="down-button"><img src="\assets\Component 14 – 1.svg"></div>
</div>