.social-buttons {
    margin-left: 6.875rem;
}

.social-button {
    margin:5rem .75rem;
    width: 3.375rem;
    height: 3.375rem;
    border: white solid .0675rem;
    border-radius: 50%;
    cursor: pointer;
}